{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>友達検索</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    #sub{
      display:inline-block;
      padding:0.1em 0.5em;
      text-decoration:none;
      background:#668ad8;
      color:#fff;
      border-bottom:solid 4px #627295;
      border-radius:3px;
    }
    #sub:active{
      -webkit-transform:translateY(4px);
        transform:translateY(4px);
        border-bottom:none;
    }
  </style>
</head>
  <body id="seach">
    <header>
      <div class="logo">
        <h1><a href="{% url 'top' %}">simple chat</a></h1>
      </div>
      <nav>
        <ul id="nav" class="nav" onclick="tap()">
          <a><img src="{% static 'image/menu.png' %}" style="height:30px;width:30px;"></a>
        </ul>
      </nav>
    </header>
    <div id="wrap">
      <div id="menu" class="hidden">
        <ul>
          <li><a href="{% url 'login' %}">ログイン</a></li>
          <li><a href="{% url 'logout' %}">ログアウト</a></li>
          <li><a href="{% url 'accounts:signup' %}">新規登録</a></li>
          <li><a href="{% url 'seach' %}">友達追加</a></li>
        </ul>
      </div>
      <div class="contents">
        <form method="post">
          <p>ユーザー名を入れてください</p>
          {% csrf_token %}
          {{ form }}
          <button type="submit" id="sub">登録</button>
        </form>
      </div>
    </div>
    <footer>
      <small>(c)shogokatoxx</small>
    </footer>
    <script>
      let menu = document.querySelector('#menu');
      let nav = document.querySelector('#nav');

      function tap(){
        if(menu.classList == "hidden"){
          menu.classList.remove('hidden');
        }else{
          menu.classList.add('hidden');
        }
      }
    </script>
  </body>
</html>
